# <span style="color:red">Read json file in scraper_data and create a cleaned .csv file</span>

In [1]:
save_directory ='./scraper_data/'
file_index_base = 0
name_base = 'file'
#file_name = save_directory + name_base + str(j+file_index_base)+'.json'

In [2]:
import pandas as pd
import numpy as np
import json

### The following code is for testing json.loads and loaded json file content

In [ ]:
file_name = save_directory + name_base + str(250) + '.json'
print(file_name)

In [ ]:
with open(file_name, 'r') as the_file:
    content =the_file.readlines()

In [ ]:
record = json.loads(content[0])

In [ ]:
type(record)

In [ ]:
record[0]

In [ ]:
len(content)

In [ ]:
len(record)

In [ ]:
length_record = len(record)

In [ ]:
num_no_work_experience =0
num_more_than_one_experience =0
for i in range(length_record):
    if 'work_experience'not in record[i]:
        num_no_work_experience +=1
    elif len(record[i]['work_experience'])>1:
        num_more_than_one_experience +=1

In [ ]:
print('no work experience number is: ', num_no_work_experience)
print('more than one work experience is: ', num_more_than_one_experience)

### Test if file cannot be found,  the program still runs

In [3]:
number_file =0
total_number =50
begin_num = 150
for i in range(begin_num-1, begin_num+total_number):
    file_name = save_directory + name_base + str(i+1) + '.json'
    try:
        #file_name = save_directory + name_base + str(i+1) + '.json'
        the_file=open(file_name, 'r')
        number_file +=1
    except FileNotFoundError:
        continue
print('total number of file is: ', number_file)

total number of file is:  47

### Compare read mode in default and binary mode

In [ ]:
file_name = save_directory + name_base + str(1) + '.json'

In [ ]:
with open(file_name, 'rb') as the_file:
    content1 =the_file.readlines()

In [ ]:
record1 = json.loads(content1[0])

In [ ]:
record1[0]

In [ ]:
person_ID =[]
job_title =[]
job_ID =[]
job_company =[]
job_date =[]
job_description =[]
skills =[]
additional_infor =[]

In [ ]:
person_information =[person_ID, job_ID, job_title, job_company,
                     job_description,job_date, skills, additional_infor]

In [ ]:
import numpy as np

In [ ]:
print(np.nan)
print(np.NaN)
a=[np.NaN]
print(a)

In [ ]:
a=[]
a.append([1,2])
b=[]
b=b+[1,2]
print(a)
print(b)

#### For test class variable and instance variable

In [ ]:
class testClass():
    a=5
    def __init__(self):
        self.a=6
    
    def Change_Class_Variable(self):
        testClass.a =7

In [ ]:
test_a = testClass()
print(test_a.a)
print(testClass.a)
test_a.Change_Class_Variable()
print(testClass.a)

#### Test code above

### Define a class which can read many json files and create list of list

In [4]:
#(person_ID, job_ID, job_title, job_company,
#job_description, skills, additional_infor)
class Make_CSV_file(object):
    
    def __init__(self):
        self.number_records =0
        self.number_work_experience =0
    #*****************************#
    
    def Fill_Information(self, file_name, person_information):
        person_ID_list =[]
        job_title_list =[]
        job_ID_list =[]
        job_company_list =[]
        job_date_list =[]
        job_description_list =[]
        skills_list =[]
        additional_infor_list =[]
    
        with open(file_name, 'rb') as the_file:
            content =the_file.readlines()
        
        record = json.loads(content[0])
        number_record = len(record)
        #print('number of records is: ', number_record)
        for i in range(number_record):
            self.number_records +=1
            if 'work_experience'not in record[i] or record[i]['work_experience'] =='NA':
                person_ID_list.append(i+1)
                job_title_list.append('NA')
                job_ID_list.append('NA')
                job_company_list.append('NA')
                job_date_list.append('NA')
                job_description_list.append('NA')
                if 'skills' not in record[i] or record[i]['skills'] =='NA':
                    skills_list.append('NA')
                else:
                    skills_list.append(record[i]['skills'][0])
                    
                if 'additional_information' not in record[i] or record[i]['additional_information'] =='NA':
                    additional_infor_list.append('NA')
                else:
                    additional_infor_list.append(record[i]['additional_information'][0])
                    
        
            else:
                number_experience = len(record[i]['work_experience'])
                self.number_work_experience +=number_experience
                #print('i is: ', i)
                for j in range(number_experience):
                    person_ID_list.append(i+1)
                    job_ID_list.append(j+1)
                    job_title_list.append(record[i]['work_experience'][j]['title'])
                    job_company_list.append(record[i]['work_experience'][j]['company'])
                    job_date_list.append(record[i]['work_experience'][j]['dates'])
                    job_description_list.append(record[i]['work_experience'][j]['description'])
                    if 'skills' not in record[i] or record[i]['skills'] =='NA':
                        skills_list.append('NA')
                    else:
                        skills_list.append(record[i]['skills'][0])
                    
                    if 'additional_information' not in record[i] or record[i]['additional_information'] =='NA':
                        additional_infor_list.append('NA')
                    else:
                        additional_infor_list.append(record[i]['additional_information'][0])
                    
        person_information[0] = person_information[0] + person_ID_list
        person_information[1] = person_information[1] + job_ID_list
        person_information[2] = person_information[2] + job_title_list
        person_information[3] = person_information[3] + job_company_list
        person_information[4] = person_information[4] + job_description_list
        person_information[5] = person_information[5] + job_date_list
        person_information[6] = person_information[6] + skills_list
        person_information[7] = person_information[7] + additional_infor_list
        #(person_ID, job_ID, job_title, job_company,
        #job_description, skills, additional_infor)
    #*************************#
    
    def Extract_Information_Files(self, begin_index, end_index, prefix, suffix, person_information):
        for i in range(begin_index, end_index):
            file_name = prefix + str(i) + suffix
            try:
                the_file=open(file_name, 'rb')
                the_file.close()
                #print('file name is: ', file_name)
                self.Fill_Information(file_name, person_information)
            except FileNotFoundError:
                continue

In [5]:
person_ID =[]
job_title =[]
job_ID =[]
job_company =[]
job_date =[]
job_description =[]
skills =[]
additional_infor =[]
person_information =[person_ID, job_ID, job_title, job_company,
                     job_description,job_date, skills, additional_infor]

In [6]:
make_csv_model = Make_CSV_file()

In [7]:
prefix = save_directory + name_base
suffix = '.json'
begin_index =150
end_index =begin_index+50
make_csv_model.Extract_Information_Files(begin_index, end_index, prefix, suffix, person_information)

In [8]:
print('number of records is: ', make_csv_model.number_records)
print('number of work experience is: ', make_csv_model.number_work_experience)

number of records is:  666
number of work experience is:  3102

In [9]:
#person_information =[person_ID, job_ID, job_title, job_company,
#                     job_description,job_date, skills, additional_infor]
print(person_information[5][0])

October 2018 to Present

#### make a dictionary and convert it to dataframe

In [10]:
df_data_machine_learning_engineer = pd.DataFrame({'person_ID': person_information[0],
                                   'job_ID': person_information[1],
                                   'job_title': person_information[2],
                                   'job_company': person_information[3],
                                   'job_description': person_information[4],
                                   'job_date': person_information[5],
                                   'skills': person_information[6],
                                   'additional_information': person_information[7]})

In [11]:
#df_data_analyst.head()
#df_data_engineer.head()
df_data_machine_learning_engineer.head()

,person_ID,job_ID,job_title,job_company,job_description,job_date,skills,additional_information
0,1,1,Machine Learning Engineer Intern,"Molyworks Materials Corporation - Los Gatos, CA",Leading Machine Learning efforts and incorpo...,October 2018 to Present,NA,TECHNICAL SKILLSData Analysis
1,2,1,Machine Learning Engineer,"Intellipro Group Inc - San Jose, CA",Dec 2017 - now Machine Learning Engineerl Deve...,December 2017 to Present,Linux (Less than 1 year),NA
2,2,2,Machine Learning Engineer,"Toolots Inc - Los Angeles, CA",l Designed and developed a Content Review An...,May 2017 to September 2017,Linux (Less than 1 year),NA
3,2,3,Software Development Engineer II,Bleum Software Corp,lDesigned and developed an e-commerce service ...,December 2013 to April 2015,Linux (Less than 1 year),NA
4,3,1,Machine Learning Engineer,"TOPCON - Milpitas, CA",Applying Deep learning and classical machine l...,March 2018 to Present,NA,NA

In [12]:
#df_Engineer.to_csv('./data/data_engineer.csv', index =False)
#df_data_analyst.to_csv('./data/data_data_analyst.csv', index =False)
#df_data_engineer.to_csv('./data/data_data_engineer.csv', index =False)
df_data_machine_learning_engineer.to_csv('./data/data_machine_learning_engineer.csv', index =False)

In [13]:
#df = pd.read_csv('./data/data_data_analyst.csv')
#df = pd.read_csv('./data/data_data_engineer.csv')
df = pd.read_csv('./data/data_machine_learning_engineer.csv')

In [14]:
df.head()

,person_ID,job_ID,job_title,job_company,job_description,job_date,skills,additional_information
0,1,1,Machine Learning Engineer Intern,"Molyworks Materials Corporation - Los Gatos, CA",Leading Machine Learning efforts and incorpo...,October 2018 to Present,NaN,TECHNICAL SKILLSData Analysis
1,2,1,Machine Learning Engineer,"Intellipro Group Inc - San Jose, CA",Dec 2017 - now Machine Learning Engineerl Deve...,December 2017 to Present,Linux (Less than 1 year),NaN
2,2,2,Machine Learning Engineer,"Toolots Inc - Los Angeles, CA",l Designed and developed a Content Review An...,May 2017 to September 2017,Linux (Less than 1 year),NaN
3,2,3,Software Development Engineer II,Bleum Software Corp,lDesigned and developed an e-commerce service ...,December 2013 to April 2015,Linux (Less than 1 year),NaN
4,3,1,Machine Learning Engineer,"TOPCON - Milpitas, CA",Applying Deep learning and classical machine l...,March 2018 to Present,NaN,NaN

In [15]:
df.shape

(3102, 8)

In [ ]:
df.loc[pd.isnull(df.job_ID)]

In [ ]:
def find_data_scientist(title_value):
    target = 'data scientist'
    if type(title_value) == float:
        return -1
    elif type(title_value) ==str:
        if title_value.lower().find(target) >=0:
            return 1
        else:
            return 0

In [ ]:
is_data_scientist =df.job_title.map(find_data_scientist)

In [ ]:
sum(is_data_scientist==1)

In [ ]:
sum(is_data_scientist==0)

In [ ]:
sum(is_data_scientist==-1)

In [ ]:
is_data_scientist[is_data_scientist==0][0:5]

In [ ]:
df.iloc[10]

In [ ]:
df.loc[10]

In [ ]:
df.loc[10]['job_title']

In [ ]:
df.loc[10, 'job_title']

In [ ]:
df.job_company[0:4]